.row {
  color: white;
  margin-left: 20px;
  margin : 10px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  padding: 20px 0 20px 20px;
  transition: transform 500ms;
}
.row__poster:hover {
  transform: scale(1.1);
  opacity: 1;
}
.row__posterLarge {
  max-height: 250px;
}
